body{
    background-color: black;
    color: azure;
}

section{
    background: rgb(245, 229, 107) ; /*cor do fundo da seção*/
    padding-top: 50px ;
    padding-bottom: 50px;
    display: flex; /* torna flexivel = poe um do lado do outro */
    justify-content: center; /*centraliza*/
}

.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px; /*altera o tamanho das img que foram usadas nas miniaturas dos videos*/
}

.categoria-videos{
    display: flex; /*todos videos na mesma linha */
    overflow-x: auto; /*nao deixa o video sair pra direita e nem a pagina ter barra de rolagem */
    gap: 10px; /*coloca um espaço entre os videos */
}