body{
    background-color: black;
    color: azure;
}

section{
    background: rgb(245, 229, 107) ; /*cor do fundo da seção*/
    padding-top: 50px ;
    padding-bottom: 50px;
    display: flex; /* torna flexivel = poe um do lado do outro */
    justify-content: center; /*centraliza*/
}

.chamada-texto{
    margin-right: 5%;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}